* {
  box-sizing: border-box;
}

.frame11 {
  display: flex;
  align-items: center;
  border-radius: 48px;
  box-shadow: 0px 60px 60px 0px #413c3c80;
  width: 1440px;
  height: 960px;
  overflow: hidden;

  .rectangle27 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    background: #242424;
    padding-right: 31px;
    width: 1440px;
    min-width: 1440px;

    .a10K {
      line-height: 15px;
      letter-spacing: 0;
      color: #0b0219;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 500;
    }

    .feb2023 {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .frame4 {
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .rectangle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #161717;
      padding: 31px 26px 356px 27px;

      .frame {
        width: 47px;
        height: 47px;
        overflow: hidden;
      }

      .autoWrapper2 {
        position: relative;
        margin-top: 54px;
        margin-left: 10px;
        width: 24px;
        height: 472px;

        .vector {
          position: absolute;
          top: -16px;
          right: -39px;
          width: 85px;
          height: 54px;
        }

        .autoLayoutVertical {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          align-items: flex-start;
          width: 24px;
          height: 472px;
          row-gap: 40px;

          .frame2 {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }

          .frame3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            padding: 3px;
            min-width: 24px;
            height: 24px;
            overflow: hidden;

            .autoWrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-self: stretch;

              .vector2 {
                width: 7px;
                height: 7px;
              }

              .vector3 {
                margin-top: 4px;
                width: 7px;
                height: 7px;
              }
            }
          }
        }
      }
    }

    .autoWrapper22 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 32px;

      .calendar {
        line-height: 24px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }

      .a2022 {
        flex-shrink: 0;
        line-height: 15px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }

      .autoLayoutHorizontal2 {
        display: inline-flex;
        align-items: center;
        column-gap: 10px;
        margin-left: 16px;
        border-radius: 6px;
        background: #fad85d;
        padding: 8px 10px;

        .vector4 {
          flex-shrink: 0;
          width: 12px;
          height: 14px;
        }

        .download {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: #161717;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .autoWrapper4 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 296px;
        padding-left: 0;

        .group {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: space-between;
          padding: 14px 108px 14px 24px;
          width: 291px;
          min-width: 291px;
          height: 53px;

          .rectangle2 {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            border-radius: 24px;
            background: #ffffff21;
            width: 291px;
            height: 53px;
          }

          .autoWrapper3 {
            display: flex;
            position: relative;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .searchHere {
              line-height: 24px;
              letter-spacing: 0.48px;
              color: #545454;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }

        .dashboard {
          margin: 12px 0px 0px;
          line-height: 40px;
          letter-spacing: 0.96px;
          color: #ffffff;
          font-family: Qwigley, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
        }
      }

      .helloUroos {
        margin: 32px 0px 0px;
        line-height: 48px;
        letter-spacing: 0.96px;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
      }

      .autoWrapper7 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 20px;
        padding-right: 0;
        padding-left: 0;

        .viewEntireList2 {
          margin: 8px 0px 0px;
          width: 94px;
          letter-spacing: 0.36px;
          color: #19181a;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-decoration: underline;
        }

        .ordersInLine {
          width: 125px;
          letter-spacing: 0.48px;
          color: #131215;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .subtract {
          position: relative;
          width: 300px;
          height: 159px;
          background-image: url(../image/mg46hga1-qk3dshd.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .group4 {
            position: absolute;
            top: 8px;
            left: 27px;
            width: 246px;
            height: 89px;

            .group2 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: flex-start;
              padding: 10px 1px 35px;
              width: 175px;
              height: 59px;

              .autoWrapper5 {
                position: relative;
                width: 79px;
                height: 11px;

                .rectangle3 {
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-radius: 100px;
                  background: #ffffff3d;
                  width: 79px;
                  height: 11px;
                  rotate: -15deg;
                }

                .rectangle4 {
                  position: absolute;
                  right: -8px;
                  bottom: -28px;
                  border-radius: 100px;
                  background: #ffffff3d;
                  width: 79px;
                  height: 11px;
                  rotate: -15deg;
                }
              }

              .rectangle5 {
                margin-top: 3px;
                margin-left: 17px;
                border-radius: 100px;
                background: #ffffff3d;
                width: 79px;
                height: 11px;
                rotate: -15deg;
              }
            }

            .group3 {
              display: flex;
              position: absolute;
              top: 30px;
              left: 71px;
              align-items: flex-start;
              padding: 35px 1px 10px;
              width: 175px;
              height: 59px;
              rotate: -180deg;

              .rectangle6 {
                border-radius: 100px;
                background: #ffffff3d;
                width: 79px;
                height: 11px;
                rotate: 345deg;
              }

              .autoWrapper6 {
                position: relative;
                margin-top: 3px;
                margin-left: 17px;
                width: 79px;
                height: 11px;

                .rectangle7 {
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-radius: 100px;
                  background: #ffffff3d;
                  width: 79px;
                  height: 11px;
                  rotate: 345deg;
                }

                .rectangle8 {
                  position: absolute;
                  top: -28px;
                  left: -8px;
                  border-radius: 100px;
                  background: #ffffff3d;
                  width: 79px;
                  height: 11px;
                  rotate: 345deg;
                }
              }
            }
          }

          .image {
            position: absolute;
            top: 43px;
            left: 150px;
            width: 136px;
            height: 110px;
            background-image: url(../image/mg46hgb0-q0mgayy.png);
            background-position: -14px -5px;
            background-size: 138.17% 121.17%;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 4px 4px #34dabb);
          }

          .group5 {
            display: flex;
            position: absolute;
            top: 22px;
            left: 24px;
            flex-direction: column;
            align-items: flex-start;
            width: 135px;
            height: 114px;

            .weeklyBalance {
              line-height: 24px;
              letter-spacing: 0.48px;
              color: #131215;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }

            .a20K {
              margin: 16px 0px 0px;
              line-height: 48px;
              letter-spacing: 0.96px;
              color: #131215;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
              font-weight: 500;
            }

            .viewEntireList {
              margin: 8px 0px 0px 1px;
              width: 94px;
              letter-spacing: 0.36px;
              color: #131215;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              text-decoration: underline;
            }
          }
        }

        .frame485 {
          display: flex;
          align-items: center;
          border-radius: 34px;
          padding: 22px 151px 23px 24px;
          overflow: hidden;
          background-image: url(../image/mg46hga1-d5xyqil.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .group6 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;

            .a750 {
              margin: 16px 0px 0px;
              width: 72px;
              letter-spacing: 0.96px;
              color: #131215;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
              font-weight: 500;
            }
          }
        }

        .frame4852 {
          display: flex;
          align-items: center;
          padding: 22px 151px 23px 24px;
          background-image: url(../image/mg46hga1-h850oxh.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .group7 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;

            .a150 {
              margin: 16px 0px 0px;
              width: 59px;
              letter-spacing: 0.96px;
              color: #131215;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
              font-weight: 500;
            }
          }
        }
      }

      .autoWrapper18 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 24px;
        padding-right: 0;
        padding-left: 0;

        .frame6 {
          flex-shrink: 0;
          width: 14px;
          height: 14px;
          overflow: hidden;
        }

        .frame5 {
          flex-shrink: 0;
          width: 13px;
          height: 13px;
          overflow: hidden;
        }

        .rectangle9 {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 24px;
          background: #161717;
          padding: 20px 24px;

          .ellipse1 {
            position: absolute;
            top: 248px;
            left: 506px;
            border-radius: 50%;
            background: #ffffff05;
            width: 100px;
            height: 11px;
          }

          .autoWrapper11 {
            position: relative;
            width: 577px;
            height: 219px;

            .screenshot2023020215 {
              position: absolute;
              bottom: -26px;
              left: 439px;
              width: 138px;
              height: 216px;
              background-image: url(../image/mg46hgb0-ockw668.png);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              filter: drop-shadow(0px 4px 10px #000000);
            }

            .group13 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              align-items: flex-start;
              width: 577px;
              height: 219px;

              .autoWrapper8 {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                padding-right: 0;
                padding-left: 0;

                .sales {
                  margin: 4px 0px 0px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                }

                .autoLayoutHorizontal {
                  display: flex;
                  align-items: center;
                  column-gap: 10px;
                  margin-left: 317px;
                  border: 1px solid #525252;
                  border-radius: 6px;
                  padding: 7px 9px;
                  height: 34px;
                }
              }

              .group12 {
                position: relative;
                margin-top: 15px;
                width: 476px;
                height: 170px;

                .group8 {
                  position: absolute;
                  top: 14px;
                  left: 33px;
                  width: 443px;
                  height: 126px;
                }

                .group11 {
                  display: flex;
                  position: absolute;
                  top: 0;
                  left: 0;
                  align-items: flex-start;
                  justify-content: space-between;
                  width: 466px;
                  height: 170px;

                  .autoLayoutVertical2 {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 3px;
                    row-gap: 14px;

                    .a50K {
                      flex-shrink: 0;
                      line-height: 18px;
                      letter-spacing: 0;
                      color: #525252;
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 12px;
                    }
                  }

                  .autoWrapper10 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;

                    .autoWrapper9 {
                      position: relative;
                      margin-left: 2px;
                      width: 420px;
                      height: 147px;

                      .group9 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 420px;
                        height: 147px;
                      }

                      .group10 {
                        position: absolute;
                        top: 18px;
                        left: 1px;
                        width: 419px;
                        height: 117px;
                      }
                    }

                    .autoLayoutHorizontal3 {
                      display: inline-flex;
                      align-items: flex-start;
                      align-self: stretch;
                      column-gap: 29px;
                      margin-top: 8px;

                      .a1 {
                        flex-shrink: 0;
                        line-height: 15px;
                        letter-spacing: 0;
                        color: #525252;
                        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }

          .autoWrapper12 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 22px;
            padding-right: 213px;
            padding-left: 41px;

            .toys {
              line-height: 15px;
              letter-spacing: 0;
              color: #8a8a8a;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
            }

            .group1171274967 {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              width: 86px;
              min-width: 86px;

              .line24 {
                margin-top: 11px;
                background-color: #00000066;
                width: 46px;
                height: 4px;
                background-image: linear-gradient(
                  180deg,
                  #845ed7 0%,
                  #6b8aeb 100%
                );
              }
            }

            .group1171274966 {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              width: 173px;
              min-width: 173px;

              .line23 {
                margin-top: 11px;
                background-color: #73ffcc;
                width: 46px;
                height: 1px;
                background-image: linear-gradient(#00000066, #00000066);
              }
            }
          }
        }

        .rectangle10 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 32px;
          background: #161717;
          padding: 24px 24px 20px;

          .group1171274964 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 16px;

            .autoWrapper13 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding-right: 4px;
              padding-left: 1px;

              .autoLayoutHorizontal4 {
                display: flex;
                align-items: center;
                column-gap: 10px;
                border: 1px solid #525252;
                border-radius: 8px;
                padding: 7px 9px;
                width: 121px;
              }

              .view {
                line-height: 18px;
                letter-spacing: 0.36px;
                color: #ffffff;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                text-decoration: underline;
              }
            }

            .group1171274965 {
              position: relative;
              margin-top: 20px;
              width: 233px;
              height: 158px;

              .vector5 {
                position: absolute;
                top: 51px;
                left: 0;
                width: 173px;
                height: 27px;
              }

              .group14 {
                display: flex;
                position: absolute;
                top: 0;
                left: 5px;
                align-items: flex-start;
                justify-content: space-between;
                width: 228px;
                height: 158px;

                .m {
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #525252;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }

                .a24 {
                  margin: 10px 0px 0px;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 500;
                }

                .a10 {
                  margin: 10px 0px 0px 1px;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 500;
                }

                .a27 {
                  margin: 10px 0px 0px;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #383456;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 500;
                }

                .s {
                  margin: 0px 0px 0px 3px;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #525252;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }

                .autoWrapper14 {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  align-self: stretch;

                  .a3 {
                    margin: 10px 0px 0px 3px;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: #000000;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }

                .autoWrapper15 {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  align-self: stretch;

                  .a4 {
                    margin: 10px 0px 0px;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: #000000;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                  }
                }

                .autoWrapper16 {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  align-self: stretch;
                }

                .autoWrapper17 {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  align-self: stretch;

                  .a2 {
                    margin: 10px 0px 0px 3px;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: #ffffff;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }

                  .a30 {
                    margin: 10px 0px 0px 1px;
                    width: 14px;
                    height: 15px;
                    letter-spacing: 0;
                    color: #383456;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 11px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }

      .autoWrapper21 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 24px;
        padding-right: 0;
        padding-left: 0;

        .vector6 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 32px;
          background: #161717;
          padding: 24px;

          .group1171274963 {
            display: flex;
            position: relative;
            align-items: center;
            align-self: stretch;
            margin-top: 21px;

            .rectangle13 {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 16px;
              background: #ffffff0f;
              width: 18px;
              height: 125px;
            }

            .tue {
              margin: 9px 0px 0px;
              line-height: 18px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }

            .group1171274957 {
              display: flex;
              flex-direction: column;
              align-items: center;

              .group1171274951 {
                position: relative;
                width: 19px;
                height: 129px;

                .rectangle11 {
                  position: absolute;
                  top: 0;
                  left: 1px;
                  border-radius: 16px;
                  background: #ffffff0f;
                  width: 18px;
                  height: 125px;
                }

                .image2 {
                  position: absolute;
                  top: 16px;
                  left: 0;
                  width: 19px;
                  height: 113px;
                }
              }

              .mon {
                margin: 8px 0px 0px;
                line-height: 18px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 500;
              }
            }

            .group1171274958 {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: 18px;

              .group1171274952 {
                position: relative;
                width: 27px;
                height: 128px;

                .rectangle12 {
                  position: absolute;
                  top: 0;
                  left: 4px;
                  border-radius: 16px;
                  background: #ffffff0f;
                  width: 18px;
                  height: 125px;
                }

                .image3 {
                  position: absolute;
                  top: 55px;
                  left: 0;
                  width: 27px;
                  height: 73px;
                }
              }
            }

            .group1171274959 {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: 18px;

              .group1171274956 {
                position: relative;
                width: 20px;
                height: 128px;

                .image4 {
                  position: absolute;
                  top: 51px;
                  left: 0;
                  width: 20px;
                  height: 77px;
                }
              }
            }

            .group1171274960 {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: 18px;

              .group1171274953 {
                position: relative;
                width: 22px;
                height: 128px;

                .rectangle14 {
                  position: absolute;
                  top: 0;
                  left: 2px;
                  border-radius: 16px;
                  background: #ffffff0f;
                  width: 18px;
                  height: 125px;
                }

                .image5 {
                  position: absolute;
                  top: 69px;
                  left: 0;
                  width: 22px;
                  height: 59px;
                }
              }
            }

            .group1171274961 {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: 18px;

              .group1171274954 {
                position: relative;
                width: 19px;
                height: 128px;

                .image6 {
                  position: absolute;
                  top: 15px;
                  left: 0;
                  width: 19px;
                  height: 113px;
                }
              }
            }

            .group1171274962 {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-left: 18px;

              .group1171274955 {
                position: relative;
                width: 21px;
                height: 128px;

                .image7 {
                  position: absolute;
                  top: 46px;
                  left: 0;
                  width: 21px;
                  height: 82px;
                }
              }
            }

            .union {
              display: flex;
              position: absolute;
              top: 37px;
              left: 129px;
              align-items: flex-start;
              padding: 2px 7px 5px 6px;
              width: 38px;
              height: 22px;
              background-image: url(../image/mg46hga0-lnefi4m.svg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }

        .group16 {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 24px;
          background: #161717;
          padding: 20px 24px 13px;

          .autoWrapper19 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            padding-right: 0;
            padding-left: 0;

            .customerDetails {
              margin: 4px 0px 0px;
              width: 179px;
              letter-spacing: 0.48px;
              color: #ffffff;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 700;
            }

            .autoLayoutHorizontal5 {
              display: flex;
              align-items: center;
              column-gap: 10px;
              margin-left: 201px;
              border: 1px solid #525252;
              border-radius: 6px;
              padding: 7px 9px;
              height: 34px;

              .frame7 {
                flex-shrink: 0;
                width: 16px;
                height: 16px;
                overflow: hidden;
              }
            }
          }

          .autoWrapper20 {
            position: relative;
            margin-top: 28px;
            width: 575px;
            height: 153px;

            .group15 {
              position: absolute;
              top: 29px;
              right: -24px;
              width: 623px;
              height: 86px;
            }

            .autoLayoutHorizontal6 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: flex-start;
              justify-content: space-between;
              width: 575px;
              height: 153px;

              .rZ17308 {
                flex-shrink: 0;
                line-height: 18px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
              }

              .id {
                flex-shrink: 0;
                line-height: 18px;
                letter-spacing: 0;
                color: #8a8a8a;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 600;
              }

              .autoLayoutVertical3 {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                row-gap: 26px;
              }

              .autoLayoutVertical4 {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: center;
                row-gap: 26px;
              }

              .autoLayoutVertical5 {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                row-gap: 27px;

                .shipped {
                  flex-shrink: 0;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #c49d50;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }

                .delivered {
                  flex-shrink: 0;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #73ffcc;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }

                .paid {
                  flex-shrink: 0;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: #6f82e8;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    .autoWrapper30 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 43px;

      .frame486 {
        display: flex;
        align-items: center;
        align-self: stretch;
        column-gap: 6px;
        margin-right: 5px;
        margin-left: 46px;

        .group17 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;

          .uroosFatima {
            width: 88px;
            letter-spacing: 0.36px;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .uroosDesignGmailCom {
            width: 170px;
            letter-spacing: 0.36px;
            color: #5e5e5e;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .group18 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          width: 80px;
          min-width: 80px;
          height: 39px;

          .frame8 {
            display: flex;
            align-items: center;
            border-radius: 56px;
            width: 39px;
            height: 39px;
            overflow: hidden;

            .image8 {
              margin-left: -2px;
              width: 41px;
              height: 40px;
            }
          }
        }
      }

      .rectangle26 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 46px;
        border-radius: 32px;
        background: #161717;
        padding: 28px 24px 77px 23px;

        .group19 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 125px;
          margin-left: 1px;
          min-width: 134px;
          height: 36px;

          .rectangle15 {
            border-radius: 6px;
            width: 34px;
            height: 35px;
          }

          .autoWrapper23 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .petshopCom {
              line-height: 18px;
              letter-spacing: 0.36px;
              color: #ffffff;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }

            .aOreo {
              line-height: 18px;
              letter-spacing: 0.36px;
              color: #686163;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }

        .autoWrapper28 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 24px;
          padding-right: 0;
          padding-left: 0;

          .autoWrapper24 {
            position: relative;
            width: 164px;
            height: 149px;

            .image9 {
              position: absolute;
              top: 0;
              left: 0;
              width: 164px;
              height: 149px;
            }

            .group20 {
              display: flex;
              position: absolute;
              top: -10px;
              left: 98px;
              align-items: center;
              width: 38px;
              height: 21px;

              .union2 {
                display: flex;
                flex-grow: 1;
                align-items: center;
                padding: 2px 6px 4px 7px;
                background-image: url(../image/mg46hga1-o4j0szf.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
          }

          .group21 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 12px;

            .facebook {
              line-height: 15px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 500;
            }

            .autoWrapper25 {
              display: flex;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              padding-right: 8px;
              padding-left: 6px;

              .rectangle16 {
                border-radius: 2px;
                background: #ffc9c0;
                width: 11px;
                height: 11px;
              }
            }

            .autoWrapper26 {
              display: flex;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 15px;
              padding-right: 15px;
              padding-left: 6px;

              .rectangle17 {
                border-radius: 2px;
                background: #45f6d4;
                width: 11px;
                height: 11px;
              }
            }

            .rectangle19 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 15px;
              border-radius: 2px;
              background: #242424;
              padding: 6px 4px 5px 6px;
              min-width: 79px;
              height: 26px;

              .rectangle18 {
                border-radius: 2px;
                background: #fe7070;
                width: 11px;
                height: 11px;
              }
            }

            .autoWrapper27 {
              display: flex;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 19px;
              padding-right: 17px;
              padding-left: 6px;

              .rectangle20 {
                border-radius: 2px;
                background: #d1f5a6;
                width: 11px;
                height: 11px;
              }
            }
          }
        }

        .distributionsOfSales {
          margin: 39px 0px 0px 18px;
          width: 225px;
          height: 19px;
          letter-spacing: 0;
          color: #666262;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .autoWrapper29 {
          position: relative;
          margin-top: 20px;
          margin-left: 3px;
          width: 255px;
          height: 221px;

          .a130K {
            position: absolute;
            top: 169px;
            left: 200px;
            width: 26px;
            height: 18px;
            line-height: 18px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .a15K {
            position: absolute;
            top: 144px;
            left: 200px;
            width: 22px;
            height: 18px;
            line-height: 18px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .a1K {
            position: absolute;
            top: 119px;
            left: 224px;
            width: 20px;
            height: 18px;
            line-height: 18px;
            letter-spacing: 0;
            color: #21bb85;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .a7K {
            position: absolute;
            top: 119px;
            left: 200px;
            width: 14px;
            height: 18px;
            line-height: 18px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .a1500K {
            position: absolute;
            top: 94px;
            left: 200px;
            width: 34px;
            height: 18px;
            line-height: 18px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .autoLayoutVertical6 {
            display: inline-flex;
            position: absolute;
            top: 94px;
            left: -2px;
            flex-direction: column;
            align-items: flex-start;
            width: 113px;
            height: 93px;
            row-gap: 7px;
          }

          .rectangle21 {
            display: flex;
            position: absolute;
            top: 20px;
            left: 33px;
            align-items: center;
            border-radius: 8px;
            background: #ffffff17;
            padding: 6px 11px 6px 10px;
            width: 189px;
            height: 36px;

            .frame9 {
              width: 14px;
              height: 14px;
              overflow: hidden;
            }

            .a05Th12ThJan {
              margin: 0px 0px 0px 10px;
              line-height: 18px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }

            .frame10 {
              margin-left: 33px;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }
          }

          .group1171274968 {
            position: absolute;
            top: 0;
            left: 0;
            width: 255px;
            height: 221px;
          }
        }

        .autoLayoutVertical11 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 29px;
          margin-left: 1px;
          width: 225px;
          row-gap: 24px;

          .a20K2 {
            flex-shrink: 0;
            width: 58px;
            height: 41px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 500;
          }

          .autoLayoutVertical8 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -35px;

            .autoLayoutVertical7 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 4px;

              .rectangle23 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                border-radius: 8px;
                background: #1e1828;
                padding-right: 73px;

                .rectangle22 {
                  border-radius: 8px;
                  width: 187px;
                  height: 8px;
                  background-image: linear-gradient(
                    90deg,
                    #a36bfd 0%,
                    #6b8aeb 103.21%
                  );
                }
              }
            }
          }

          .autoLayoutVertical10 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -35px;

            .autoLayoutVertical9 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 4px;

              .rectangle25 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                border-radius: 8px;
                background: #1e1828;
                padding-right: 140px;

                .rectangle24 {
                  border-radius: 8px;
                  width: 120px;
                  height: 8px;
                  background-image: linear-gradient(
                    90deg,
                    #a36bfd 0%,
                    #6b8aeb 103.21%
                  );
                }
              }
            }
          }
        }
      }
    }
  }
}
