* {
  box-sizing: border-box;
}

.httpsHealthyforeverS {
  width: 428px;
  height: 448px;

  .component12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    height: 320px;

    .yAxisLegend {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 29px 81px 29px 0px;
      overflow: hidden;

      .variant12 {
        letter-spacing: 0;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .variant1 {
        letter-spacing: 0;
        color: #ffffff80;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .variant13 {
        line-height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .variant2 {
        margin: 28px 0px 0px;
        line-height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
    }

    .component1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px dashed #ffffff;
      background: #1e1e1eb2;
      padding: 30px 122px 44px 30px;

      .variant14 {
        width: 28px;
        height: 28px;
      }

      .variant22 {
        margin-top: 30px;
        width: 26px;
        height: 24px;
      }

      .variant3 {
        margin-top: 34px;
        width: 9px;
        height: 9px;
        overflow: hidden;
      }

      .variant4 {
        margin-top: 49px;
        width: 9px;
        height: 9px;
        overflow: hidden;
      }

      .variant5 {
        margin-top: 49px;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }
    }
  }
}
