* {
  box-sizing: border-box;
}

.httpsHealthyforeverS {
  width: 2120px;
  height: 2402px;

  .a1920WLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-white-solid, #ffffff);
    width: 1920px;
    height: 2202px;
    overflow-y: auto;

    .heading2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      background: var(--color-red-35, #a70c0c);
      padding: 10px 390px;

      .uSNewsToday {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        line-height: 35px;
        letter-spacing: -0.1px;
        color: var(--healthyforever-site-White, #ffffff);
        font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 600;
      }
    }

    .autoWrapper2 {
      position: relative;
      margin-top: 29px;
      width: 720px;
      height: 910px;

      .container {
        display: flex;
        position: absolute;
        top: -29px;
        right: -600px;
        align-items: flex-start;
        background: var(--color-red-26, #810505);
        padding-bottom: 8px;
        padding-left: 1045px;
        width: 1920px;
        height: 39px;
        overflow: hidden;

        .dailyUpdatesOnWellne {
          display: flex;
          align-items: center;
          margin: -1px 0px 0px;
          width: 1505px;
          height: 31px;
          line-height: 31px;
          letter-spacing: -0.1px;
          color: var(--healthyforever-site-White, #ffffff);
          font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 22px;
          font-weight: 300;
        }
      }

      .container3 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 720px;
        height: 910px;

        .container2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          background: var(--color-white-solid, #ffffff);
          padding-top: 60px;
          padding-bottom: 20px;

          .heading22 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            padding-bottom: 20px;

            .uRgentDoctorDiscover3 {
              flex-shrink: 0;
              align-self: stretch;
              width: 700px;
              text-align: center;
              line-height: 35px;
              letter-spacing: -0.1px;
              color: #000000;
              font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
              font-weight: 600;

              .uRgentDoctorDiscover {
                line-height: 35px;
                letter-spacing: -0.1px;
                color: var(--healthyforever-site-Black, #000000);
                font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 600;
              }

              .uRgentDoctorDiscover2 {
                line-height: 35px;
                letter-spacing: -0.1px;
                color: var(--healthyforever-site-Totem-Pole, #a70c0c);
                font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 600;
              }
            }
          }

          .autoWrapper {
            position: relative;
            margin-top: 125px;
            width: 700px;
            height: 394px;

            .heading23 {
              display: flex;
              position: absolute;
              top: -125px;
              left: 0;
              flex-direction: column;
              align-items: center;
              padding-bottom: 20px;
              width: 700px;
              height: 90px;

              .over18000AmericansHa {
                flex-shrink: 0;
                align-self: stretch;
                width: 700px;
                text-align: center;
                line-height: 35px;
                letter-spacing: -0.1px;
                color: var(--healthyforever-site-Black, #000000);
                font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 32px;
                font-weight: 500;
              }
            }

            .aLearnHowToSolveItBe {
              position: absolute;
              top: -35px;
              left: 0;
              padding: 0px 0px 20px;
              width: 700px;
              height: 55px;
              text-align: center;
              line-height: 35px;
              letter-spacing: -0.1px;
              color: var(--healthyforever-site-Black, #000000);
              font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              font-weight: 500;
            }

            .coverJpg {
              position: absolute;
              top: 0;
              left: 0;
              width: 700px;
              height: 394px;
              background-image: url(../image/mg9z8kkc-bzoo30j.png);
              background-position: 0px 0px;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
          }
        }

        .a537PeopleWatchingNo3 {
          flex-shrink: 0;
          align-self: stretch;
          padding: 0px 0px 20px 250px;
          line-height: 31px;
          letter-spacing: -0.1px;
          color: var(--healthyforever-site-Cod-Gray, #111111);
          font-size: 22px;

          .a537PeopleWatchingNo {
            line-height: 31px;
            letter-spacing: -0.1px;
            color: var(--healthyforever-site-Cod-Gray, #111111);
            font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: 700;
          }

          .a537PeopleWatchingNo2 {
            line-height: 31px;
            letter-spacing: -0.1px;
            color: var(--healthyforever-site-Cod-Gray, #111111);
            font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: 300;
          }
        }

        .newsLogosWebp {
          flex-shrink: 0;
          width: 700px;
          height: 115px;
          overflow: hidden;
        }
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 50px;
      background: var(--color-white-solid, #ffffff);
      padding: 29px 625px 38px;
      row-gap: 15px;

      .a10Comments {
        flex-shrink: 0;
        align-self: stretch;
        padding: 0px 0px 1px;
        line-height: 17px;
        letter-spacing: -0.1px;
        color: var(--healthyforever-site-Black, #050505);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 700;
      }

      .container12 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        align-self: stretch;
        row-gap: 8px;

        .mariaJohnson {
          flex-shrink: 0;
          align-self: stretch;
          padding: 0px 0px 1px;
          line-height: 20px;
          letter-spacing: -0.1px;
          color: var(--healthyforever-site-Chambray, #385898);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }

        .imgMargin {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 1px;
          padding-right: 10px;

          .a48 {
            flex-shrink: 0;
            width: 36px;
            height: 36px;
            overflow: hidden;
          }
        }

        .paragraph {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 4px;

          .like {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: -0.1px;
            color: var(--healthyforever-site-Shuttle-Gray, #65676b);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 300;
          }

          .a {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: -0.1px;
            color: var(--healthyforever-site-Shuttle-Gray, #65676b);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 300;
          }
        }

        .container5 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          align-items: flex-start;
          width: 594px;
          height: 77px;
          row-gap: 5px;

          .container4 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 13px;

            .iDidTheTrickForJust3 {
              flex-shrink: 0;
              align-self: stretch;
              padding: 0px 0px 1px;
              line-height: 20px;
              letter-spacing: -0.1px;
              color: var(--healthyforever-site-Shark, #1c1e21);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 300;
            }
          }
        }

        .container6 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          padding-right: 3px;
          padding-left: 1px;
          width: 12px;
          row-gap: 1px;

          .a1F44DSvgFill {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            margin-right: -1px;
            padding-top: 2px;
            padding-bottom: 2px;
            overflow: hidden;

            .component1 {
              flex-shrink: 0;
              width: 9px;
              height: 9px;
              overflow: hidden;
            }
          }
        }

        .backgroundBorderShad4 {
          display: inline-flex;
          position: absolute;
          right: -5px;
          bottom: -1px;
          align-items: flex-start;
          column-gap: 3px;
          border: 1px solid var(--healthyforever-site-Iron, #ccd0d5);
          border-radius: 20px;
          box-shadow: 0px 1px 2px 0px #00000026;
          background: var(--color-white-solid, #ffffff);
          padding: 2px 8px 2px 6px;
          width: 46px;
          height: 19px;

          .a19 {
            flex-shrink: 0;
            line-height: 13px;
            letter-spacing: -0.1px;
            color: var(--healthyforever-site-Black, #050505);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 700;
          }
        }

        .backgroundBorderShad {
          display: inline-flex;
          position: absolute;
          right: -5px;
          bottom: -1px;
          align-items: flex-start;
          column-gap: 3px;
          border: 1px solid var(--healthyforever-site-Iron, #ccd0d5);
          border-radius: 20px;
          box-shadow: 0px 1px 2px 0px #00000026;
          background: var(--color-white-solid, #ffffff);
          padding: 2px 8px 2px 6px;
          width: 46px;
          height: 19px;

          .a42 {
            flex-shrink: 0;
            line-height: 13px;
            letter-spacing: -0.1px;
            color: var(--healthyforever-site-Black, #050505);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 700;
          }
        }

        .backgroundBorderShad2 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          border: 1px solid var(--healthyforever-site-Iron, #d3d6db);
          border-radius: 10px;
          box-shadow: 0px 1px 3px 0px #0000000d;
          background: var(--color-grey-96, #f5f6f7);
          padding: 9px 14px 11px;

          .autoWrapper3 {
            position: relative;
            width: 594px;
            height: 77px;
          }
        }

        .backgroundBorderShad3 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          border: 1px solid var(--healthyforever-site-Iron, #d3d6db);
          border-radius: 10px;
          box-shadow: 0px 1px 3px 0px #0000000d;
          background: var(--color-grey-96, #f5f6f7);
          padding: 9px 14px 11px;

          .autoWrapper4 {
            position: relative;
            width: 594px;
            height: 77px;

            .container9 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              align-items: flex-start;
              width: 594px;
              height: 77px;
              row-gap: 5px;

              .container8 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                row-gap: 14px;

                .container7 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 79px;
                  padding-bottom: 1px;
                  height: 20px;

                  .iWasSkepticalAtFirst {
                    display: flex;
                    align-items: center;
                    margin: -1px 0px 0px;
                    width: 500px;
                    height: 20px;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    color: var(--healthyforever-site-Shark, #1c1e21);
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    font-weight: 300;
                  }

                  .component12 {
                    margin-top: 1px;
                    margin-left: 1px;
                    width: 14px;
                    height: 14px;
                    overflow: hidden;
                  }
                }
              }
            }
          }
        }

        .backgroundBorderShad5 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-left: 48px;
          border: 1px solid var(--healthyforever-site-Iron, #d3d6db);
          border-radius: 10px;
          box-shadow: 0px 1px 3px 0px #0000000d;
          background: var(--color-grey-95, #f0f2f5);
          padding: 9px 14px 11px;
          min-width: 622px;

          .autoWrapper5 {
            position: relative;
            width: 546px;
            height: 77px;

            .container11 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              align-items: flex-start;
              width: 546px;
              height: 77px;
              row-gap: 5px;

              .container10 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                row-gap: 13px;

                .aAnnaBrownThisLitera {
                  flex-shrink: 0;
                  align-self: stretch;
                  padding: 0px 0px 1px;
                  line-height: 20px;
                  letter-spacing: -0.1px;
                  color: var(--healthyforever-site-Shark, #1c1e21);
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: 300;
                }
              }
            }
          }
        }

        .backgroundBorderShad6 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          border: 1px solid var(--healthyforever-site-Iron, #d3d6db);
          border-radius: 10px;
          box-shadow: 0px 1px 3px 0px #0000000d;
          background: var(--color-grey-96, #f5f6f7);
          padding: 9px 14px 11px;

          .autoWrapper6 {
            position: relative;
            width: 594px;
            height: 77px;
          }
        }
      }
    }
  }
}
