* {
  box-sizing: border-box;
}

.container60 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--color-white-solid, #ffffff);
  width: 1920px;
  height: 1200px;
  overflow-y: auto;

  .container59 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    padding: 148px 696px 56px;

    .ofUsersFeltCalmFreeF {
      line-height: 24px;
      letter-spacing: -0.42px;
      color: var(--signup-spiriohub-com-Russett, #7b6055);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .component15 {
      flex-shrink: 0;
      width: 16px;
      height: 17px;
    }

    .component1 {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }

    .yourPersonalizedPlan {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 36px;
      letter-spacing: -0.72px;
      color: var(--signup-spiriohub-com-Quincy, #59382a);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }

    .heading2WhatYouGet {
      width: 528px;
      text-align: center;
      line-height: 36px;
      letter-spacing: -0.72px;
      color: var(--signup-spiriohub-com-Quincy, #59382a);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }

    .container25 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 32px;
      row-gap: 16px;

      .container4 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 8px;

        .container {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;

          .type {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-Russett, #7b6055);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .generalized {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-Quincy, #59382a);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }
        }

        .container2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;

          .overlay {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: var(--color-spring-green-31-10, #227e641a);
            padding: 8px;
          }
        }

        .verticalDivider {
          flex-shrink: 0;
          align-self: stretch;
          background: var(--color-grey-93, #eeebea);
          width: 1px;
        }

        .container3 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;

          .overlay2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: var(--color-spring-green-31-10, #227e641a);
            padding: 8px;

            .component12 {
              flex-shrink: 0;
              width: 17px;
              height: 17px;
            }
          }
        }
      }

      .container24 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;

        .component13 {
          flex-shrink: 0;
          width: 23px;
          height: 48px;
        }

        .a50 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-White, #ffffff);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }

        .container10 {
          display: inline-flex;
          position: absolute;
          top: -1px;
          left: -1px;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 16px 0px 12px;
          background: var(--color-red-65, #ff4f4f);
          padding-right: 8px;
          padding-left: 8px;
          width: 50px;
          height: 24px;
        }

        .container5 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          row-gap: 4px;

          .a3Monthplan {
            flex-shrink: 0;
            align-self: stretch;
            padding: 1px 0px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-Quincy, #59382a);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }

          .a111 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 12px;
            letter-spacing: 1.4px;
            color: var(--signup-spiriohub-com-Pharlap, #9c887f);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-decoration: line-through;
          }
        }

        .container6 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .border {
            flex-shrink: 0;
            border: 2px solid var(--signup-spiriohub-com-Silk, #bdb0aa);
            border-radius: 12px;
            width: 24px;
            height: 24px;
          }
        }

        .container9 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;

          .background {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            border-radius: 0px 8px 8px 0px;
            background: var(--color-grey-93, #eeebea);
            width: 102px;

            .a {
              margin: 8px 0px 0px;
              line-height: 15px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-Pharlap, #9c887f);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }

            .container8 {
              display: inline-flex;
              align-items: flex-start;
              column-gap: 3px;
              margin-left: 3px;
              padding-top: 8px;
              padding-bottom: 8px;

              .a0 {
                flex-shrink: 0;
                line-height: 32px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 38px;
                font-weight: 600;
              }

              .container7 {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                justify-content: center;
                padding-right: 16px;
                row-gap: 4px;

                .a55 {
                  flex-shrink: 0;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                }

                .perDay {
                  flex-shrink: 0;
                  line-height: 12px;
                  letter-spacing: -0.36px;
                  color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .backgroundBorder {
          display: flex;
          position: relative;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border: 1px solid var(--signup-spiriohub-com-Swiss-Coffee, #ded7d4);
          border-radius: 16px;
          background: var(--color-grey-96, #f7f5f4);
          padding: 16px;
          min-width: 528px;
          height: 82px;
        }

        .container16 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-top: 8px;

          .background2 {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            border-radius: 16px 16px 0px 0px;
            background: var(--color-spring-green-31, #227e64);
            height: 24px;

            .mOstpopular {
              flex-shrink: 0;
              align-self: stretch;
              text-align: center;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-White, #ffffff);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 600;
            }

            .container11 {
              display: inline-flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border-radius: 16px 0px 12px;
              background: var(--color-red-65, #ff4f4f);
              padding-right: 8px;
              padding-left: 8px;
              width: 50px;
              height: 24px;
            }
          }

          .backgroundBorder2 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-width: 0px 1px 1px;
            border-style: solid;
            border-radius: 0px 0px 16px 16px;
            border-color: var(--signup-spiriohub-com-Eucalyptus, #227e64);
            background: var(--color-white-solid, #ffffff);
            padding: 16px;
            min-width: 528px;

            .container12 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;

              .border2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                border: 2px solid
                  var(--signup-spiriohub-com-Eucalyptus, #227e64);
                border-radius: 12px;
                width: 24px;
                height: 24px;

                .background3 {
                  flex-shrink: 0;
                  border-radius: 6px;
                  background: var(--color-spring-green-31, #227e64);
                  width: 12px;
                  height: 12px;
                }
              }
            }

            .container15 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: flex-start;

              .background4 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                border-radius: 0px 8px 8px 0px;
                background: var(--color-grey-93, #eeebea);
                width: 102px;

                .a2 {
                  margin: 8px 0px 0px;
                  line-height: 15px;
                  letter-spacing: 0;
                  color: var(--signup-spiriohub-com-Quincy, #59382a);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                  font-weight: 500;
                }

                .container14 {
                  display: inline-flex;
                  align-items: flex-start;
                  column-gap: 3px;
                  margin-left: 3px;
                  padding-top: 8px;
                  padding-bottom: 8px;

                  .a02 {
                    flex-shrink: 0;
                    line-height: 32px;
                    letter-spacing: 0;
                    color: var(--signup-spiriohub-com-Quincy, #59382a);
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 38px;
                    font-weight: 600;
                  }

                  .container13 {
                    display: inline-flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    align-self: stretch;
                    justify-content: center;
                    padding-right: 16px;
                    row-gap: 4px;

                    .a99 {
                      flex-shrink: 0;
                      line-height: 16px;
                      letter-spacing: 0;
                      color: var(--signup-spiriohub-com-Quincy, #59382a);
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 16px;
                      font-weight: 600;
                    }

                    .perDay2 {
                      flex-shrink: 0;
                      line-height: 12px;
                      letter-spacing: -0.36px;
                      color: var(--signup-spiriohub-com-Russett, #7b6055);
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 12px;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
        }

        .backgroundBorder3 {
          display: flex;
          position: relative;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 8px;
          border: 1px solid var(--signup-spiriohub-com-Swiss-Coffee, #ded7d4);
          border-radius: 16px;
          background: var(--color-grey-96, #f7f5f4);
          padding: 16px;
          min-width: 528px;
          height: 82px;
        }

        .container23 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-top: 8px;
          row-gap: 8px;

          .background5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border-radius: 16px;
            background: var(--color-grey-96, #f7f5f4);
            padding: 8px 24px;

            .container17 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding-bottom: 7px;

              .component14 {
                flex-shrink: 0;
                width: 32px;
                height: 31px;
              }
            }

            .container19 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              min-width: 440px;

              .container18 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;

                .peopleUsingThePlanFo3 {
                  flex-shrink: 0;
                  width: 428px;
                  line-height: 18px;
                  letter-spacing: -0.36px;
                  color: #000000;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 500;

                  .peopleUsingThePlanFo {
                    line-height: 18px;
                    letter-spacing: -0.36px;
                    color: var(--signup-spiriohub-com-Russett, #7b6055);
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }

                  .peopleUsingThePlanFo2 {
                    line-height: 18px;
                    letter-spacing: -0.36px;
                    color: var(--signup-spiriohub-com-Eucalyptus, #227e64);
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                  }
                }
              }

              .aAccordingToTheResea {
                flex-shrink: 0;
                align-self: stretch;
                line-height: 20px;
                letter-spacing: -0.3px;
                color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 10px;
                font-weight: 500;
              }
            }
          }

          .buttonMargin {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 84px;
            margin-left: 84px;
            padding-top: 8px;
            padding-bottom: 8px;

            .component4 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              border-radius: 16px;
              background: #227e64;
              padding: 16px 6px 17px;
              max-width: 360px;

              .text {
                flex-grow: 1;
                text-align: center;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-White, #ffffff);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
              }
            }
          }

          .container21 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            row-gap: 8px;

            .background6 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 4px;
              margin-right: 178px;
              margin-left: 178px;
              border-radius: 8px;
              background: var(--color-grey-92, #def7ea);
              padding: 4px 16px;

              .paySafeSecure {
                flex-shrink: 0;
                line-height: 20px;
                letter-spacing: -0.42px;
                color: var(--signup-spiriohub-com-Jade, #03bf5a);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
              }
            }

            .container20 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 4px;
              margin-right: 141px;
              margin-left: 141px;

              .component16 {
                flex-shrink: 0;
                width: 32px;
                height: 20px;
              }

              .component17 {
                flex-shrink: 0;
                width: 30px;
                height: 20px;
              }
            }
          }

          .container22 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            margin-left: -1px;
            padding-right: 7px;

            .byClickingGetmyplani4 {
              flex-shrink: 0;
              width: 521px;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-Pharlap, #9c887f);
              font-size: 12px;

              .byClickingGetmyplani {
                line-height: 20px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
              }

              .byClickingGetmyplani2 {
                line-height: 20px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 600;
              }

              .byClickingGetmyplani3 {
                line-height: 20px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Pharlap, #9c887f);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .container32 {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      max-width: 528px;
      row-gap: 16px;

      .heading2 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: -1px;
        margin-left: -1px;
        padding-right: 26px;
        padding-left: 26px;

        .peopleJustLikeYouAch3 {
          flex-shrink: 0;
          width: 477px;
          text-align: center;
          line-height: 36px;
          letter-spacing: -0.72px;
          color: #000000;
          font-size: 24px;

          .peopleJustLikeYouAch {
            line-height: 36px;
            letter-spacing: -0.72px;
            color: var(--signup-spiriohub-com-Quincy, #59382a);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
          }

          .peopleJustLikeYouAch2 {
            line-height: 36px;
            letter-spacing: -0.72px;
            color: var(--signup-spiriohub-com-Coral, #ff854c);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 600;
          }
        }
      }

      .backgroundBorder4 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border: 1px solid var(--signup-spiriohub-com-Swiss-Coffee, #ded7d4);
        border-radius: 16px;
        background: var(--color-grey-98, #fffaf4);
        overflow: hidden;
        row-gap: 1px;

        .container26 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 183px;
          margin-left: 183px;
          padding-top: 32px;
          padding-bottom: 24px;

          .meditationWoman {
            flex-shrink: 0;
            align-self: stretch;
            width: 160px;
            height: 159px;
            overflow: hidden;
          }
        }

        .container31 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding: 0px 24px 24px;
          row-gap: 8px;

          .ofUsersFeltCalmFreeF2 {
            line-height: 24px;
            letter-spacing: -0.42px;
            color: var(--signup-spiriohub-com-Quincy, #59382a);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }

          .ofUsersFeltCalmFreeF3 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: -0.42px;
            color: #000000;
            font-size: 14px;
          }

          .container27 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;

            .paragraph {
              position: relative;
              flex-shrink: 0;
              width: 65px;
              height: 62px;

              .a82 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                align-items: center;
                width: 48px;
                height: 56px;
                line-height: 56px;
                letter-spacing: -1.2px;
                color: var(--signup-spiriohub-com-Coral, #ff854c);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 40px;
                font-weight: 600;
              }

              .a3 {
                display: flex;
                position: absolute;
                top: 6px;
                left: 46px;
                align-items: center;
                width: 19px;
                height: 56px;
                line-height: 56px;
                letter-spacing: -1.2px;
                color: var(--signup-spiriohub-com-Coral, #ff854c);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 600;
              }
            }
          }

          .horizontalDivider {
            flex-shrink: 0;
            align-self: stretch;
            background: var(--color-grey-93, #eeebea);
            height: 1px;
          }

          .container28 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;

            .paragraph2 {
              position: relative;
              flex-shrink: 0;
              width: 64px;
              height: 62px;

              .a78 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                align-items: center;
                width: 46px;
                height: 56px;
                line-height: 56px;
                letter-spacing: -1.2px;
                color: var(--signup-spiriohub-com-Coral, #ff854c);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 40px;
                font-weight: 600;
              }

              .a4 {
                display: flex;
                position: absolute;
                top: 6px;
                left: 45px;
                align-items: center;
                width: 19px;
                height: 56px;
                line-height: 56px;
                letter-spacing: -1.2px;
                color: var(--signup-spiriohub-com-Coral, #ff854c);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 600;
              }
            }
          }

          .container30 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;

            .paragraph3 {
              position: relative;
              flex-shrink: 0;
              width: 69px;
              height: 62px;

              .a45 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                align-items: center;
                width: 51px;
                height: 56px;
                line-height: 56px;
                letter-spacing: -1.2px;
                color: var(--signup-spiriohub-com-Coral, #ff854c);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 40px;
                font-weight: 600;
              }

              .a5 {
                display: flex;
                position: absolute;
                top: 6px;
                left: 50px;
                align-items: center;
                width: 19px;
                height: 56px;
                line-height: 56px;
                letter-spacing: -1.2px;
                color: var(--signup-spiriohub-com-Coral, #ff854c);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 600;
              }
            }

            .container29 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              padding-right: 10px;

              .ofUsersStartedWithSi {
                flex-shrink: 0;
                width: 392px;
                line-height: 24px;
                letter-spacing: -0.42px;
                color: #000000;
                font-size: 14px;
              }
            }
          }
        }

        .sakuraBackground {
          position: absolute;
          top: 0;
          left: 0;
          flex-shrink: 0;
          width: 526px;
          height: 225px;
          overflow: hidden;
        }
      }
    }

    .container34 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 32px;
      row-gap: 16px;

      .container33 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 76px;
        margin-left: 76px;
        row-gap: 8px;

        .aBetterVersionOfYouE {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 36px;
          letter-spacing: -0.72px;
          color: var(--signup-spiriohub-com-Quincy, #59382a);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }

        .yourTailoredInnerPea {
          flex-shrink: 0;
          align-self: stretch;
          text-align: center;
          line-height: 24px;
          letter-spacing: -0.42px;
          color: var(--signup-spiriohub-com-Pharlap, #9c887f);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .spirioCalendar {
        flex-shrink: 0;
        align-self: stretch;
        width: 528px;
        height: 436px;
        overflow: hidden;
      }
    }

    .container49 {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      max-width: 528px;
      row-gap: 8px;

      .heading2PeopleLoveSp {
        flex-shrink: 0;
        line-height: 36px;
        letter-spacing: -0.72px;
        color: var(--signup-spiriohub-com-Quincy, #59382a);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .container48 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: -1px;
        margin-left: -1px;
        row-gap: 8px;

        .feedbackPerson3827B8 {
          flex-shrink: 0;
          border-radius: 22px;
          width: 44px;
          height: 44px;
          overflow: hidden;
        }

        .a1DayAgo {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: -0.36px;
          color: var(--signup-spiriohub-com-Woodsmoke-40, #14131966);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .container36 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 4px;
          padding-top: 2px;
          padding-bottom: 2px;

          .container35 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 2px;
          }

          .a502 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 20px;
            letter-spacing: -0.36px;
            color: var(--signup-spiriohub-com-Woodsmoke-60, #14131999);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .container41 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
        }

        .backgroundBorderShad {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border: 1px solid var(--signup-spiriohub-com-Ebb, #eeebea);
          border-radius: 16px;
          box-shadow: 0px 10px 20px 0px #0000001a;
          background: var(--color-white-solid, #ffffff);
          padding: 16px;
          row-gap: 16px;

          .container39 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 8px;

            .container38 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;

              .nataliS {
                flex-shrink: 0;
                padding: 0px 385px 0px 0px;
                line-height: 20px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Woodsmoke, #141319);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
              }

              .container37 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: space-between;
                padding-right: 1px;
              }
            }
          }

          .container40 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 1px;
            padding-right: 14px;

            .iUseTheseDailyAndLov {
              flex-shrink: 0;
              width: 480px;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-Woodsmoke, #141319);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .backgroundBorderShad2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border: 1px solid var(--signup-spiriohub-com-Ebb, #eeebea);
          border-radius: 16px;
          box-shadow: 0px 10px 20px 0px #0000001a;
          background: var(--color-white-solid, #ffffff);
          padding: 16px;
          row-gap: 16px;

          .container43 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 8px;

            .background7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border-radius: 22px;
              background: var(--color-red-83, #ffbca6);
              padding-top: 10px;
              padding-bottom: 11px;
              width: 44px;

              .mH {
                flex-shrink: 0;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Falu-Red-40, #7d1a1a66);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
              }
            }

            .container42 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;

              .mikeH {
                flex-shrink: 0;
                padding: 0px 392px 0px 0px;
                line-height: 20px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Woodsmoke, #141319);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }

          .container44 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -1px;
            padding-right: 1px;

            .a3YearsAgoMyGirlfrie {
              flex-shrink: 0;
              width: 494px;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-Woodsmoke, #141319);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .backgroundBorderShad3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border: 1px solid var(--signup-spiriohub-com-Ebb, #eeebea);
          border-radius: 16px;
          box-shadow: 0px 10px 20px 0px #0000001a;
          background: var(--color-white-solid, #ffffff);
          padding: 16px;
          row-gap: 16px;

          .container46 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 8px;

            .container45 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;

              .taylorD {
                flex-shrink: 0;
                padding: 0px 381px 0px 0px;
                line-height: 20px;
                letter-spacing: 0;
                color: var(--signup-spiriohub-com-Woodsmoke, #141319);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }

          .container47 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 1px;
            padding-right: 11px;

            .wowThisIsSoWhatIVeBe {
              flex-shrink: 0;
              width: 483px;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-Woodsmoke, #141319);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }
      }
    }

    .container53 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 32px;
      row-gap: 16px;

      .container52 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .button {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;
          border: 1px solid var(--signup-spiriohub-com-Ebb, #eeebea);
          border-radius: 16px;
          box-shadow: 0px 10px 20px 0px #0000001a;
          background: var(--color-white-solid, #ffffff);
          padding: 24px 16px;

          .container50 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            column-gap: 12px;
            z-index: 2;

            .component18 {
              flex-shrink: 0;
              width: 24px;
              height: 24px;
            }

            .whatIfIVeUsedOtherTh {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: -0.42px;
              color: var(--signup-spiriohub-com-Woodsmoke, #141319);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }

          .container51 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            z-index: 1;
            height: 22px;

            .autoWrapper {
              position: relative;
              flex-shrink: 0;
              width: 12px;
              height: 12px;

              .component5 {
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                rotate: -180deg;
              }
            }
          }
        }
      }
    }

    .container58 {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 32px;
      min-width: 528px;
      row-gap: 16px;

      .background8 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 16px;
        background: var(--color-grey-96, #f7f5f4);
        padding: 24px 24px 32px;
        max-width: 528px;
        row-gap: 16px;

        .shieldIcon {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .weBelieveThatOurPlan {
          flex-shrink: 0;
          align-self: stretch;
          width: 480px;
          line-height: 24px;
          letter-spacing: -0.42px;
          color: var(--signup-spiriohub-com-Russett, #7b6055);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .findMoreAboutApplica2 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 24px;
          letter-spacing: -0.42px;
          color: var(--signup-spiriohub-com-Russett, #7b6055);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;

          .findMoreAboutApplica {
            line-height: 24px;
            letter-spacing: -0.42px;
            color: var(--signup-spiriohub-com-Russett, #7b6055);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }

      .background9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 16px;
        background: var(--color-grey-96, #f7f5f4);
        padding: 24px;
        max-width: 528px;
        row-gap: 16px;

        .weWonTSellOrRentYour {
          flex-shrink: 0;
          align-self: stretch;
          width: 480px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-Russett, #7b6055);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .yourInformationIsSaf {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-Quincy, #59382a);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .container55 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .container54 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
          }
        }

        .container57 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .container56 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
          }
        }
      }
    }
  }
}
