* {
  box-sizing: border-box;
}

.signupSpiriohubComEn {
  width: 738px;
  height: 1020px;

  .variant12 {
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
  }

  .variant1 {
    letter-spacing: 0;
    color: #ffffff80;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
  }

  .variant13 {
    line-height: 15px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
  }

  .component12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    height: 230px;

    .yAxisLegend {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px 81px 25px 0px;
      overflow: hidden;

      .variant2 {
        margin: 20px 0px 0px;
        line-height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
    }

    .component1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px dashed #ffffff;
      background: #1e1e1eb2;
      padding: 30px 93px 34px 30px;

      .variant14 {
        width: 57px;
        height: 20px;
      }

      .variant22 {
        margin-top: 30px;
        width: 41px;
        height: 11px;
      }

      .variant3 {
        margin-top: 39px;
        width: 16px;
        height: 16px;
      }

      .variant4 {
        margin-top: 34px;
        width: 9px;
        height: 16px;
      }
    }
  }

  .component22 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 610px;

    .yAxisLegend2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
      padding: 135px 81px 135px 0px;
      overflow: hidden;

      .variant23 {
        margin: 239px 0px 0px;
        line-height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
    }

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .xAxisLegend {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding: 0px 144px 15px 80px;
        min-width: 490px;
        overflow: hidden;

        .default {
          line-height: 15px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 300;
        }
      }

      .component2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border: 1px dashed #ffffff;
        background: #1e1e1eb2;
        padding: 30px;
        min-width: 490px;
        height: 568px;

        .container {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          z-index: 1;
          margin-top: -1px;
          border-radius: 0px 0px 16px 16px;
          padding: 16px;

          .text {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-White, #ffffff);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }

          .component13 {
            flex-shrink: 0;
            width: 9px;
            height: 16px;
          }
        }

        .background {
          display: flex;
          flex-shrink: 0;
          align-items: flex-end;
          align-self: stretch;
          justify-content: center;
          z-index: 2;
          border-radius: 15px 15px 0px 0px;
          background: var(--color-violet-15, #271f2f);
          min-height: 128px;
          max-height: 186px;

          .man {
            flex-shrink: 0;
            width: 198px;
            height: 181px;
            overflow: hidden;
          }
        }

        .autoWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .variant1HoverFalse {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid var(--signup-spiriohub-com-Quincy, #59382a);
            border-radius: 16px;
            background: var(--color-orange-26, #59382a);
          }

          .variant2HoverFalse {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 30px;
            border: 1px solid var(--signup-spiriohub-com-Eucalyptus, #227e64);
            border-radius: 16px;
            background: var(--color-spring-green-31, #227e64);
          }
        }

        .autoWrapper2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .variant1HoverTrue {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid var(--signup-spiriohub-com-Kabul, #6a4c3f);
            border-radius: 16px;
            background: var(--color-orange-33, #6a4c3f);
          }

          .variant2HoverTrue {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 30px;
            border: 1px solid var(--signup-spiriohub-com-Aqua-Forest, #4e9883);
            border-radius: 16px;
            background: var(--color-spring-green-45, #4e9883);
          }
        }
      }
    }
  }
}
