* {
  box-sizing: border-box;
}

.httpsSignupSpiriohub {
  width: 2120px;
  height: 1400px;

  .a1920WLight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-white-solid, #ffffff);
    width: 1920px;
    overflow: hidden;

    .container {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 7px;
      padding: 22px 1784px 22px 24px;

      .component1 {
        flex-shrink: 0;
        width: 57px;
        height: 20px;
      }

      .verticalDivider {
        flex-shrink: 0;
        background: var(--color-grey-93, #eeebea);
        width: 1px;
        height: 11px;
      }

      .component12 {
        flex-shrink: 0;
        width: 41px;
        height: 11px;
      }
    }

    .container8 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding: 24px 16px 32px;
      height: 1136px;
      row-gap: 24px;

      .heading3CreatingYour3 {
        flex-shrink: 0;
        line-height: 36px;
        letter-spacing: -0.72px;
        color: #000000;
        font-size: 24px;

        .heading3CreatingYour {
          line-height: 36px;
          letter-spacing: -0.72px;
          color: var(--signup-spiriohub-com-Quincy, #59382a);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }

        .heading3CreatingYour2 {
          line-height: 36px;
          letter-spacing: -0.72px;
          color: var(--signup-spiriohub-com-Coral, #ff854c);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 600;
        }
      }

      .container3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 784px;
        margin-left: 784px;
        row-gap: 10px;

        .container2 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;

          .goals {
            flex-shrink: 0;
            align-self: stretch;
            padding: 0px 0px 4px;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-Quincy, #59382a);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }

          .a48 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 24px;
            letter-spacing: -0.42px;
            color: var(--signup-spiriohub-com-Quincy, #59382a);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .background2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 8px;
          background: var(--color-grey-93, #eeebea);
          padding-right: 166px;

          .background {
            opacity: 0.8;
            border-radius: 8px;
            background: var(--signup-spiriohub-com-Coral, #ff854c);
            width: 154px;
            height: 4px;
          }
        }
      }

      .horizontalDivider {
        flex-shrink: 0;
        background: var(--color-grey-93, #eeebea);
        width: 528px;
        height: 1px;
      }

      .backgroundBorderShad {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border: 1px solid var(--signup-spiriohub-com-Ebb, #eeebea);
        border-radius: 16px;
        box-shadow: 0px 10px 20px 0px #0000001a;
        background: var(--color-white-solid, #ffffff);
        padding: 16px;
        width: 416px;
        row-gap: 8px;

        .container4 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 2px;
          margin-right: 274px;
          padding-bottom: 8px;

          .component13 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
          }
        }

        .container6 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;

          .lifeChanging {
            flex-shrink: 0;
            align-self: stretch;
            padding: 1px 0px 2px;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-Woodsmoke, #141319);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }

          .container5 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            opacity: 0.6;

            .emmaA {
              flex-shrink: 0;
              line-height: 26px;
              letter-spacing: -0.48px;
              color: var(--signup-spiriohub-com-Woodsmoke, #141319);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }

        .container7 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: -1px;
          padding-right: 4px;

          .iAmNotOverExaggerati {
            flex-shrink: 0;
            width: 379px;
            line-height: 24px;
            letter-spacing: -0.42px;
            color: var(--signup-spiriohub-com-Woodsmoke, #141319);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }
  }
}
