* {
  box-sizing: border-box;
}

.httpsSignupSpiriohub {
  width: 428px;
  height: 308px;

  .component12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    height: 180px;

    .yAxisLegend {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px 81px 25px 0px;
      overflow: hidden;

      .variant12 {
        letter-spacing: 0;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .variant1 {
        letter-spacing: 0;
        color: #ffffff80;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .variant13 {
        line-height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }

      .variant2 {
        margin: 20px 0px 0px;
        line-height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
    }

    .component1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px dashed #ffffff;
      background: #1e1e1eb2;
      padding: 30px 93px 30px 30px;

      .variant14 {
        width: 57px;
        height: 20px;
      }

      .variant22 {
        margin-top: 30px;
        width: 41px;
        height: 11px;
      }

      .variant3 {
        margin-top: 39px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
