* {
  box-sizing: border-box;
}

.httpsSignupSpiriohub {
  width: 728px;
  height: 700px;

  .container8 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px 24px;
    row-gap: 16px;

    .heading3DescontoAdic {
      flex-shrink: 0;
      line-height: 32px;
      letter-spacing: -0.6px;
      color: var(--signup-spiriohub-com-White, #ffffff);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .container6 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 16px;
      overflow: hidden;

      .container {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        background: var(--color-red-65, #ff4f4f);
        padding-right: 149px;
        padding-left: 149px;
        height: 32px;

        .dEscontoreservadopor3 {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-White, #ffffff);
          font-size: 12px;

          .dEscontoreservadopor {
            line-height: 16px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-White, #ffffff);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
          }

          .dEscontoreservadopor2 {
            line-height: 16px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-White, #ffffff);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .background {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        background: var(--color-violet-29, #4a375e);
        padding: 8px;

        .container4 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .container2 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            border-radius: 8px;
            background: var(--color-white-10, #ffffff1a);
            padding: 8px 3px 9px;
            min-width: 43px;

            .a {
              flex-shrink: 0;
              line-height: 32px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-Black, #000000);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
            }
          }

          .container3 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            padding-right: 22px;

            .seuPlanoDeCresciment {
              flex-shrink: 0;
              width: 265px;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--signup-spiriohub-com-White, #ffffff);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }

        .container5 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .verticalDivider {
            flex-shrink: 0;
            background: var(--color-white-10, #ffffff1a);
            width: 1px;
            height: 32px;
          }

          .acessoCompleto {
            flex-shrink: 0;
            padding: 0px 8px;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--signup-spiriohub-com-White, #ffffff);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }
    }

    .margin {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-top: 8px;
      padding-bottom: 8px;

      .horizontalDivider {
        flex-shrink: 0;
        align-self: stretch;
        background: var(--color-violet-24, #3d3544);
        height: 1px;
      }
    }

    .heading4 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding: 1px 4px;

      .adicionamosMDulosPer4 {
        flex-shrink: 0;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;

        .adicionamosMDulosPer {
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-White, #ffffff);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .adicionamosMDulosPer2 {
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-Niagara, #0bb68c);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .adicionamosMDulosPer3 {
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-Sunset-Orange, #ff4f4f);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .background2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      border-radius: 16px;
      background: var(--color-violet-29, #4a375e);
      padding: 16px;
      row-gap: 3px;

      .container7 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;

        .guiaTNtricoParaAumen {
          flex-grow: 1;
          line-height: 24px;
          letter-spacing: -0.42px;
          color: var(--signup-spiriohub-com-White, #ffffff);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .a39 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: -0.42px;
          color: var(--signup-spiriohub-com-White, #ffffff);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          text-decoration: line-through;
        }

        .a0 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: -0.42px;
          color: var(--signup-spiriohub-com-Niagara, #0bb68c);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .buttonMargin {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-top: 8px;

      .component1 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border-radius: 16px;
        background: #227e64;
        padding: 16px 6px 17px;

        .text {
          flex-grow: 1;
          text-align: center;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--signup-spiriohub-com-White, #ffffff);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
